﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3 style="color:red">ViewData</h3>
    <h2>
        Student ID : @ViewData["StuId"]
        Student Name :@ViewData["StuName"]

    </h2>
    <br />
    <h3 style="color:red">ViewBag</h3>
    <h2>
        Student ID : @ViewBag.StuId
        Student Name : @ViewBag.StuName
    </h2>
}
